@use "../abstracts/functions" as *;

$font-family-base: "BR_Sonoma", sans-serif;
$font-family-alt: "Lato", monospace;

$font-size-sm: px-to-rem(12);
$font-size-md: px-to-rem(14);
$font-size-base: px-to-rem(16);
$font-size-lg: px-to-rem(18);
$font-size-xl: px-to-rem(20);
$font-size-xxl: px-to-rem(32);

$line-height-sm: 1.4;
$line-height-base: 1.5;
$line-height-lg: 1.6;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
