// Colors
$grey-100: #03050f;
$blur-asset: #c333ff;
$blur-asset-cyan: #00f4e2;
$grey-60: #5e6488;
$white: #ffffff;
$grey-10: #f8f9ff;
$linearGradient: linear-gradient(86.01deg, #00f4e2 0%, #00ff7f 100%);
$red-strong: #f7052d;
$grey-30: #ccd1ee;
$blue: #4f4fff;
$blue-light: #edeffc;
$bg: #fafbff;
$n-700: #141938;
$green-500: #389e0d;
$n-500: #a9afd9;
$rimac: #ff1c44;
$n-600: #7981b2;
$n-400: #d7dbf5;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1360px;

// Grid
$grid-columns-desktop: 12;
$grid-columns-mobile: 4;
$grid-gutter-desktop: 32px;
$grid-gutter-mobile: 16px;
