@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/typography" as *;

.container {
  &--bg-root {
    background-color: #f8f9ff;
    background: linear-gradient(
      67deg,
      rgb(131, 58, 180) 0%,
      rgb(248, 249, 255) 18%,
      rgb(248, 249, 255) 53%,
      rgb(248, 249, 255) 86%,
      rgb(0, 244, 226) 100%
    );
  }

  &--bg-white {
    background-color: #fafbff;
  }
}
