@use "../abstracts/typography" as *;
@use "../abstracts/functions" as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: $font-family-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-lg;
  margin: 0 0 px-to-rem(16);
}

p {
  margin-bottom: px-to-rem(16);
  font-size: $font-size-base;
  line-height: $line-height-base;
}
